<div class="jumbotron text-center" style="background: transparent;">
		
		<h1 class="display-3">Upload your files</h1>
		<p class="lead">Upload and synchronize your files across your
			devices</p>
		<label class="btn btn-default btn btn-primary btn-lg">Click to
			upload
			<form method="POST" enctype="multipart/form-data"
				action="http://localhost:8080/content/upload">
				<input type="file" #uploadFileInput hidden name="file"
					(change)="doUpload($event)">
			</form>
		</label>
	</div>




	<!-- 
	<div *ngIf="files.length > 0" >
	<p>There are {{files.length}} files uploaded</p>
		<div *ngFor='let f of files'>
		<li>{{f}} <a href='http:\\localhost:8080\content\ftp\download\{{f}}'>Download</a></li>
		</div>
	</div>
	 
	 
  <div *ngIf="files.length >0" >
<div *ngFor='let f of files'>
  <form action="#">
  <p>
    <input type="checkbox" id="test1" />
    <label for="test1">{{f}}</label>
  </p>
</form>
</div>
</div>
<a href='http:\\localhost:8080\content\ftp\download\{{f}}' class="buttonDownload">Download</a>
--->

<div *ngIf="files.length > 0">
<h1>There are {{files.length}} files uploaded</h1>
<div *ngFor='let f of files' class="button-center">
<label>
    <input type="checkbox" name="" value="" />
    <span>{{f}}</span>
</label>
</div>
</div>
<input type="checkbox" name="" value="" />
<span><a href='http:\\localhost:8080\content\ftp\download\{{f}}'>Download</a></span>
